@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #1b5bf7;
  --primary-disabled: #84a0e7;
  --secondary: #464359;
  --dark: #18191f;
  --opacity: rgba(255, 60, 0, 0.5686274509803921);
  --background: #f4f7ff;
  --font-color: #464359;
  --bg-secondary: #e0e8ff;
  --devops: #a8bfff;
  --mobile: #dbe5ff;
  --infrastructure: #d1dde8;
  --frontend: #c6d6ff;
  --design: #ced6ee;
  --pm: #99b7df;
  --testing: #e1e9fe;
  --backend: #bddaed;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Manrope, sans-serif;
}
.custom_contianer {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}